{% extends 'base.html.twig' %}

{% block title %}Kanzlei Reichhold stellt sich vor{% endblock %}

{% block body %}

<div class="row">
<div class="large-12 columns">
<img src="{{ asset('./img/berge.jpg') }}" />

<hr>
</div>
</div>
 
<div class="row">
<div class="large-12 columns">
<h1>Wir sind die Kanzlei Reichhold</h1>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<img src="{{ asset('./img/IMG_1049.JPG') }}" />
</div>
<div class="large-4 columns">
<h4>Die Kanzlei Reichhold</h4>
</div>
<div class="large-4 columns">
<strong>Who we are, what we want, and why we thing that we do want the rigth thing - for us for for our customers!</strong>
<br /><br />
<p>Ach was! Wir, die wir immer nur jammern. Schau Dir doch diesen Himmel an, hör rein in die Musik. <br/>
Dann noch einen Schluck Wein. And you know why you are here! 
</p>
</div>
</div>
<div class="row">
<div class="large-6 columns">
  Hallo Leute!<br/>Dossier : le révélateur grec ; des brigadistes aux djihadistes, combattre à l'étranger ; voyage sous bonne garde en Corée du Nord ; aux origines climatiques des conflits ; femmes arabes dans le piège des images ; Starbucks et Subway, l'illusion des fast-foods nouvelle génération ; à Moscou, rêves de liberté et grand embouteillage ; dire la violence extrême au Mexique ; les bergers, prolétaires de l'élevage ; syndrome de Stockholm à Disneyland Paris ; islam et relégation urbaine à Montpellier ; médias, le Parlement irlandais accuse ; flux de musique... et d'argent ; réussites et échecs du sabotage.
</div>
<div class="large-6 columns">
<p> Trittsicherheit und Schwindelfreiheit werden nicht über alle Maßen beansprucht, doch sollte man ein gute Portion davon mitbringen.</p>
<p>Der Pfad ist nie sonderlich steil oder ausgesetzt und führt durch meist grasiges Gelände. Öfters weichen wir etwas in den Westhang aus. Bereits nach 15 bis 20 min ab Roggentalsattel stehen wir am Gipfel der Hochblasse.</p>
<p><h4>Fazi hier</h4>
Der Weg lohnt sich auch für ungeübte; die Aussicht ist grandios!
<ul>
 <li>cooler Weg</li>
 <li>sehr coole Aussicht!</li>
</ul>
<ul class="vcard">
  <li class="fn">Uli Nitsche</li>
  <li class="street-address">Specklinplatz 20</li>
  <li class="locality">München</li>
  <li><span class="state">Deutschland</span>, <span class="zip">81377</span></li>
  <li class="email"><a href="#">u.nitsche@gmail.com</a></li>
</ul>
</p>
</div>
</div>
</div>
</div>
 
<div class="row">
<div class="large-8 columns">
<h4>Hochblasse als Skitour</h4>
<p>Ab der Bleckenau geht die eigentliche Skitour los, zunächst recht lange das Tälchen bis zur Jägerhütte, dann am Sommerweg zum Ochsenanger (hier ab und zu mal aper), dann wie im Skitourenführer beschrieben auf den Westkamm der Hochblasse und über diesen bis zum Gipfel. Was sich angesichts der geringen Schneelage und der vielen Latschen gar nicht so einfach gestaltete..</p>
<p>Fazit: Landschaftlich wunderbare Runde bei bestem Wetter, ab der Bleckenau bis auf zwei Schneeschuhgeher keinen Menschen getroffen. Für die derzeitigen Verhältnisse gar nicht so schlecht. Die Runde zieht sich allerdings schon.</p>
</div>
<div class="large-4 columns">
<img src="{{ asset('./img/IMG_20120921_140405.jpg') }}" />
</div>
</div>

<script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="{{ asset('js/vendor/jquery.js') }}"></script>
<script src="{{ asset ('js/foundation.min.js') }}"></script>
<script>
    $(document).foundation();
  </script>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/foundation/foundation.orbit.js') }}"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
{% endblock %}
