{% extends 'base.html.twig' %}

{% block title %}Das Product!!!!{% endblock %}


{% block body %}

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/apps.js') }}"></script>
<div class="row">
<link href="{{ asset('./css/apps.css') }}" rel="stylesheet" />

<div class="row">
<div class="large-4 columns">
<img src="{{ asset('./img/IMG_1049.JPG') }}" />
<h6>Hier kommt die Productbeschreibung!</h6>
<p>These things are life, and I honor you for keeping some things secret - I do...</p>
</div>

<div class="large-8 columns">
<h4>Meld Dich hier an!</h4>

<div class="large-6 columns">
<h5>das Product</h5>
 ich bin das Product
</div>
<div class="large-6 columns">
<p class="ach">ACH ACH<br/>und es geht weiter. ich schwöre, es geht weiter!<br /><a href="{{ path('ulispage') }}" class="button">Hauptlinien</a></p></li>
<li><form><button class="buttonI" type="submit" form="form1" value="Submit">Submit</button></form></li>
<p><h4>Fazit hier</h4>
Der Weg lohnt sich auch für ungeübte; die Aussicht ist grandios!
<ul>
 <li>LOGIN</li>
 <li>hier gehts weiter!</li>
</ul>
</p>
</div>
</div>
</div>

<script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="{{ asset('js/vendor/jquery.js') }}"></script>
<script src="{{ asset ('js/foundation.min.js') }}"></script>
<script>
    $(document).foundation();
  </script>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/foundation/foundation.orbit.js') }}"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>

{% endblock %}
